services:
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    ports:
      - "3030:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: keycloak
      MB_DB_PASS: kcpassword
      MB_DB_HOST: postgres
      MB_PLUGINS_DIR: /plugins
    volumes:
      - ./plugins:/plugins
    user: "1000:1000"
    networks:
      - shared-net

networks:
  shared-net:
    external: true

volumes:
  metabase-data:
