services:
  artemis:
    image: apache/activemq-artemis:latest
    container_name: artemis
    environment:
      - ARTEMIS_USER=admin
      - ARTEMIS_PASSWORD=admin
    ports:
      - "61616:61616"   # JMS core port
      - "8161:8161"     # Web console
