version: "3.9"

services:
  master:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-master
    command:
      - master
      - -ip=master
      - -ip.bind=0.0.0.0
    ports:
      - "9333:9333"
    volumes:
      - master_data:/data
    networks:
      - shared-net

  volume:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-volume
    depends_on:
      - master
    command:
      - volume
      - -mserver=master:9333
      - -ip=volume
      - -ip.bind=0.0.0.0
      - -port=8080
      - -dir=/data
      - -publicUrl=volume:8080
    ports:
      - "8080:8080"
    volumes:
      - volume_data:/data
    networks:
      - shared-net

  filer:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-filer
    depends_on:
      - master
      - volume
    command:
      - filer
      - -master=master:9333
      - -port=8888
      - -ip.bind=0.0.0.0
    ports:
      - "8888:8888"
    volumes:
      - filer_data:/data
    networks:
      - shared-net

  s3:
    image: chrislusf/seaweedfs:latest
    container_name: seaweedfs-s3
    depends_on:
      - filer
    command:
      - s3
      - -filer=filer:8888
      - -ip.bind=0.0.0.0
      - -port=8333
      - -config=/etc/seaweedfs/s3.json
    ports:
      - "8333:8333"
    networks:
      - shared-net
    volumes: 
    - ./s3.json:/etc/seaweedfs/s3.json

volumes:
  master_data:
  volume_data:
  filer_data:

networks:
  shared-net:
    external: true
