
services:
  adminer:
    image: adminer:latest
    container_name: adminer
    restart: always
    ports:
      - "8051:8080"
    environment:
      ADMINER_DEFAULT_SERVER: db
    networks:
      - shared-net

networks:
  shared-net:
    external: true
