
services:
  postgres:
    image: postgres:14.18
    container_name: keycloak-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: kcpassword
    volumes:
      - kc_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - shared-net

networks:
  shared-net:
    external: true

volumes:
  kc_db_data:
