services:
  redis:
    image: redis:8.2.0
    container_name: redis
    restart: always
    command: redis-server --requirepass mylocalpass  --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - shared-net

volumes:
  redis_data:

networks:
  shared-net:
    external: true
    name: shared-net
    driver: bridge
